.hint-mode_show-block, .hint-mode_show-block *{
    background-color: rgba(0, 0, 255, 0.1) !important;
}

.hint-mode_show-block{
    outline: rgb(0, 0, 255) solid 2px !important;
}

.selected-mode_show-block, .selected-mode_show-block *{
    background-color: rgba(255, 0, 0, 0.1) !important;
}

.selected-mode_show-block{
    outline: rgb(255, 0, 0) solid 2px !important;
}

.check-mode_show-block{
    outline: rgb(255, 255, 0) solid 2px !important;
}

.check-mode_show-block, .check-mode_show-block *{
    background-color: rgba(255, 255, 0, 0.1) !important;
}

.check2-mode_show-block{
    outline: rgb(255, 150, 0) solid 2px !important;
}

.check2-mode_show-block, .check2-mode_show-block *{
    background-color: rgba(255, 150, 0, 0.1) !important;
}